@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  position: relative;
  overflow-x: clip;
}
.App > :nth-child(1) {
  background: black;
  position: relative;
}
.white-gradient {
  position: absolute;
  width: 20rem;
  height: 20rem;
  background: rgba(255, 255, 255, 0.522);
  filter: blur(100px);
  border-radius: 100px;
}

.About-img {
  background-image: url("./about.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.Contact-img {
  background-image: url("./contact.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
